pipeline/PL_CHILD_COPY_ONE_TABLE_TO_ADLS.json
{
	"name": "PL_CHILD_COPY_ONE_TABLE_TO_ADLS",
	"properties": {
		"description": "table_run_log lo current table Started ani entry pettadam",
		"activities": [
			{
				"name": "SP_Table_Started",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ctl].[sp_upsert_table_log]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.p_batch_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_id": {
							"value": {
								"value": "@int(pipeline().parameters.p_table_id)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"schema_name": {
							"value": {
								"value": "@pipeline().parameters.p_schema_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_name": {
							"value": {
								"value": "@pipeline().parameters.p_table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"load_type": {
							"value": {
								"value": "@pipeline().parameters.p_load_type",
								"type": "Expression"
							},
							"type": "String"
						},
						"lwm_value": {
							"value": {
								"value": "@pipeline().parameters.p_lwm_value",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "started",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_CONTROL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "IF_Load_Type_Incremental",
				"description": "if the Load type is Incremental then uing this expression \n@equals(\ntoUpper(pipeline().parameters.p_load_type),\n'INCREMENTAL'\n)\nget Lookup_Get_HWM\nelse \nSET_HWM_FULL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SP_Table_Started",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\ntoUpper(pipeline().parameters.p_load_type),\n'INCREMENTAL'\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SET_HWM_FULL",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_hwm_value",
								"value": "@pipeline().parameters.p_lwm_value"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Lookup_get_HWM",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "@concat(\n'SELECT MAX([',\npipeline().parameters.p_watermark_column,\n']) AS hwm_value\nFROM [',\npipeline().parameters.p_schema_name,\n'].[',\npipeline().parameters.p_table_name,\n']\nWHERE [',\npipeline().parameters.p_watermark_column,\n'] > ''',\npipeline().parameters.p_lwm_value,\n''''\n)",
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLSERVER_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"p_schema_name": {
											"value": "@pipeline().parameters.p_schema_name",
											"type": "Expression"
										},
										"p_table_name": {
											"value": "@pipeline().parameters.p_table_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "SET_HWM_INCREMENTAL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup_get_HWM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_hwm_value",
								"value": "@activity('Lookup_Get_HWM').output.firstRow.hwm_value"
							}
						}
					]
				}
			},
			{
				"name": "SET_FOLDER_PATH",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "IF_Load_Type_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_folder_path",
					"value": "@concat(\npipeline().parameters.p_schema_name,\n'/',\npipeline().parameters.p_table_name,\n'/',\nformatDateTime(utcNow(),'yyyy/MM/dd')\n)"
				}
			},
			{
				"name": "SET_FILE_NAME",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_FOLDER_PATH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_file_name",
					"value": "@concat(\npipeline().parameters.p_table_name,\n'_',\nformatDateTime(utcNow(),'yyyyMMddHHmmss'),\n'.parquet'\n)"
				}
			},
			{
				"name": "SET_TARGET_FILE_PATH",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_FILE_NAME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_target_file_path",
					"value": "@concat(\nvariables('v_folder_path'),\n'/',\nvariables('v_file_name')\n)"
				}
			},
			{
				"name": "Lookup_Check_Manifest",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_TARGET_FILE_PATH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS file_count\nFROM ctl.file_manifest\nWHERE target_file_path='@{variables('v_target_file_path')}'\nAND status='Succeeded'",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQL_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetMetadata_Check_File",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup_Check_Manifest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_PARQUET_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"p_folder_path": "@dataset().p_folder_path",
							"p_file_name": "@dataset().p_file_name"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "IF_ALREADY_COPIED",
				"description": "",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetMetadata_Check_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\ngreater(int(activity('Lookup_Check_Manifest').output.firstRow.file_count),0),\nactivity('GetMetadata_Check_File').output.exists\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SET_SOURCE_QUERY",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_source_query",
								"value": {
									"value": "@if(\nequals(toUpper(pipeline().parameters.p_load_type),'FULL'),\n\nconcat(\n'SELECT * FROM [',\npipeline().parameters.p_schema_name,\n'].[',\npipeline().parameters.p_table_name,\n']'\n),\n\nconcat(\n'SELECT * FROM [',\npipeline().parameters.p_schema_name,\n'].[',\npipeline().parameters.p_table_name,\n']\nWHERE [',\npipeline().parameters.p_watermark_column,\n'] > ''',\npipeline().parameters.p_lwm_value,\n''''\n)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "COPY_SQL_TO_ALDS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SET_SOURCE_QUERY",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Table",
									"value": "@pipeline().parameters.p_table_name"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@variables('v_source_query')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLSERVER_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"p_schema_name": {
											"value": "@pipeline().parameters.p_schema_name",
											"type": "Expression"
										},
										"p_table_name": {
											"value": "@pipeline().parameters.p_table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@variables('v_folder_path')",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@variables('v_file_name')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_Insert_Manifest_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY_SQL_TO_ALDS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ctl].[sp_insert_manifest]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_id": {
										"value": {
											"value": "@int(pipeline().parameters.p_table_id)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"schema_name": {
										"value": {
											"value": "@pipeline().parameters.p_schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@pipeline().parameters.p_table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_type": {
										"value": {
											"value": "@pipeline().parameters.p_load_type",
											"type": "Expression"
										},
										"type": "String"
									},
									"lwm_value": {
										"value": {
											"value": "@pipeline().parameters.p_lwm_value",
											"type": "Expression"
										},
										"type": "String"
									},
									"hwm_value": {
										"value": "@variables('v_hwm_value')",
										"type": "String"
									},
									"target_file_path": {
										"value": {
											"value": "@variables('v_target_file_path')",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_coiped": {
										"value": "@activity('COPY_SQL_TO_ADLS').output.rowsCopied",
										"type": "Int64"
									},
									"status": {
										"value": "successed",
										"type": "String"
									},
									"data_written": {
										"value": "@activity('COPY_SQL_TO_ADLS').output.dataWritten",
										"type": "Int64"
									},
									"file_name": {
										"value": "@variables('v_file_name')",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQL_CONTROL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Insert_Manifest_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY_SQL_TO_ALDS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ctl].[sp_insert_manifest]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_id": {
										"value": {
											"value": "@int(pipeline().parameters.p_table_id)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"schema_name": {
										"value": {
											"value": "@pipeline().parameters.p_schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@pipeline().parameters.p_table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_type": {
										"value": {
											"value": "@pipeline().parameters.p_load_type",
											"type": "Expression"
										},
										"type": "String"
									},
									"lwm_value": {
										"value": {
											"value": "@pipeline().parameters.p_lwm_value",
											"type": "Expression"
										},
										"type": "String"
									},
									"hwm_value": {
										"value": "@variables('v_hwm_value')",
										"type": "String"
									},
									"target_file_path": {
										"value": {
											"value": "@variables('v_target_file_path')",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": "0",
										"type": "Int64"
									},
									"status": {
										"value": "failed",
										"type": "String"
									},
									"error_message": {
										"value": "@activity('COPY_SQL_TO_ADLS').error.message",
										"type": "String"
									},
									"data_written": {
										"value": "0",
										"type": "Int64"
									},
									"file_name": {
										"value": "@variables('v_file_name')",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQL_CONTROL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Log_Table_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_Insert_Manifest_Failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ctl].[sp_upsert_table_log]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_id": {
										"value": {
											"value": "@int(pipeline().parameters.p_table_id)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"schema_name": {
										"value": {
											"value": "@pipeline().parameters.p_schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@pipeline().parameters.p_table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_type": {
										"value": {
											"value": "@pipeline().parameters.p_load_type",
											"type": "Expression"
										},
										"type": "String"
									},
									"lwm_value": {
										"value": {
											"value": "@pipeline().parameters.p_lwm_value",
											"type": "Expression"
										},
										"type": "String"
									},
									"hwm_value": {
										"value": "@variables('v_hwm_value')",
										"type": "String"
									},
									"target_file_path": {
										"value": {
											"value": "@variables('v_target_file_path')",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": "0",
										"type": "Int64"
									},
									"status": {
										"value": "failed",
										"type": "String"
									},
									"error_message": {
										"value": "@activity('COPY_SQL_TO_ADLS').error.message",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQL_CONTROL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Log_Table_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_Update_Watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ctl].[sp_upsert_table_log]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_id": {
										"value": {
											"value": "@int(pipeline().parameters.p_table_id)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"schema_name": {
										"value": {
											"value": "@pipeline().parameters.p_schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@pipeline().parameters.p_table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_type": {
										"value": {
											"value": "@pipeline().parameters.p_load_type",
											"type": "Expression"
										},
										"type": "String"
									},
									"lwm_value": {
										"value": {
											"value": "@pipeline().parameters.p_lwm_value",
											"type": "Expression"
										},
										"type": "String"
									},
									"hwm_value": {
										"value": "@variables('v_hwm_value')",
										"type": "String"
									},
									"target_file_path": {
										"value": {
											"value": "@variables('v_target_file_path')",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": "@activity('COPY_SQL_TO_ADLS').output.rowsCopied",
										"type": "Int64"
									},
									"status": {
										"value": "successed",
										"type": "String"
									},
									"data_written": {
										"value": "@activity('COPY_SQL_TO_ADLS').output.dataWritten",
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQL_CONTROL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Update_Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_Insert_Manifest_Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ctl].[sp_update_watermark]",
								"storedProcedureParameters": {
									"table_id": {
										"value": "@int(pipeline().parameters.p_table_id)",
										"type": "Int32"
									},
									"batch_id": {
										"value": "@pipeline().parameters.p_batch_id",
										"type": "String"
									},
									"hwm_value": {
										"value": "@variables('v_hwm_value')",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQL_CONTROL",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SP_Log_Skipped",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ctl].[sp_upsert_table_log]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_id": {
										"value": {
											"value": "@int(pipeline().parameters.p_table_id)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"schema_name": {
										"value": {
											"value": "@pipeline().parameters.p_schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@pipeline().parameters.p_table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_type": {
										"value": {
											"value": "@pipeline().parameters.p_load_type",
											"type": "Expression"
										},
										"type": "String"
									},
									"lwm_value": {
										"value": {
											"value": "@pipeline().parameters.p_lwm_value",
											"type": "Expression"
										},
										"type": "String"
									},
									"hwm_value": {
										"value": "@variables('v_hwm_value')",
										"type": "String"
									},
									"target_file_path": {
										"value": {
											"value": "@variables('v_target_file_path')",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "skipped",
										"type": "String"
									},
									"error_message": {
										"value": "file already exists",
										"type": "String"
									},
									"file": {
										"value": "file already present",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQL_CONTROL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_batch_id": {
				"type": "string"
			},
			"p_table_id": {
				"type": "string"
			},
			"p_schema_name": {
				"type": "string"
			},
			"p_table_name": {
				"type": "string"
			},
			"p_load_type": {
				"type": "string"
			},
			"p_watermark_column": {
				"type": "string"
			},
			"p_lwm_value": {
				"type": "string"
			},
			"p_target_base_path": {
				"type": "string"
			},
			"p_force_reprocess": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"v_source_query": {
				"type": "String"
			},
			"v_hwm_value": {
				"type": "String"
			},
			"v_folder_path": {
				"type": "String"
			},
			"v_target_file_path": {
				"type": "String"
			},
			"v_file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "real tiem Scenarios"
		},
		"annotations": []
	}
}